.scenarios {
  ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  li {
    width: fit-content;
    cursor: pointer;

    &:hover {
      color: red;
    }
  }

  &__content {
    display: flex;
    gap: 50px;
  }
}
