<p>
  <b>Explanation:</b> In this example, both components CD strategies are onPush.
  If we update the parent component it will not update the child component, why?
  It's because components with onPush strategy are marking their parents as
  dirty and once the change detection triggers, if it sees that component is not
  marked as dirty, it doesn't render its view. Despite the fact that input is
  being changed, we did not change the reference to the object, so that it does
  not mark the component as dirty, because Angular performs shallow comparison
  for the input params. But if we trigger the child component, it automatically
  marks itself and parent component as dirty so the CD renders its views. If we
  want to update the child's view when parent is updating, we can do following:
  change the reference to the object by simply creating a new object, manually
  trigger changes in the child component, in ngDoCheck cycle for example, create
  a shared service.
</p>

<h2>Parent Component</h2>

<span>Parent Data: {{ parentData.name }}</span>

<button (click)="changeData()">Update Parent Data</button>

<br />

<app-sc-two-child [childData]="parentData"></app-sc-two-child>
